/* mini reset */

body {
    margin: 0;
    background: #fafafa;
}

body,
table,
h1,
h2,
p,
a,

input {
    color: #555;
    font-family: Consolas, Arial;
    text-decoration: none;
}


ul {
    margin: 0;
    padding: 0;
}


/* header styles */

h1{
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Calibri', 'Times New Roman', Times, serif, Arial;
    font-size: 30px;
    font-weight: Bold;
    text-indent: 10%;
    text-decoration: none;
    color: black;
}

h2{
    color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Times New Roman', Times, Arial, serif,;
    letter-spacing: 0.5px;
    font-size: 19px;
    text-align: left;
    text-decoration: underline;
    text-indent: 10%;
}

li{
    color: #DCB300;
    list-style-type: none;
    font-family: Arial, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    text-decoration: none;
    text-indent: 12%;
}

li a{
    color: #0072dc;
}


header {
    width: 100%;
    padding: 20px;
    text-align: right;
    background: white;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px #0000001a;
}

header a {
    font-family: Arial, 'Times New Roman', Times, serif;
    margin-left: 10px;
    background-color: #DCB300;
    border-style: outset;
    border-bottom: 2px solid #EDC500;
    border-radius: 8px 8px 8px 8px;
    padding: 4px;
    cursor: pointer;
}

header a:hover {
    background-color: #DCB300;
    border: 2px solid #EDC500;
    border-radius: 8px 8px 8px 8px;
    color: black;
}


/* content styles */

table{
    margin: 1% 5% 1%;
    padding: 1% 1.5% 1%;
    width: 85%;
    left: 5%;
    right: 5%;
}

th{
    color: black;
    background-color: #335ed3;
    font-family: Arial, 'Times New Roman', Times, serif;
}


.content {
    max-width: 800px;
    margin: 40px auto 0;
}


/* request list styles */

.request-list li {
    padding: 20px;
    margin: 10px auto;
    list-style-type: none;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.request-list .votes {
    position: relative;
    top: -5px;
    z-index: 0;
}

.request-list .upvote {
    cursor: pointer;
    border-radius: 50%;
}

.request-list .upvote:active {
    color: black;
    background: #ffe100;
}


/* modal styles */

.modal {
    width: 300px;
    padding: 30px;
    margin: 100px auto;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.new-request {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    display: none;
}

.new-request.open {
    display: block;
}


/* form element styles */

label{
    padding-left: 5%;
    font-weight: bold;
}

input[type=text]{
    margin: 1% 5% 1%;
    width: 80%;
    left: 5%;
    right: 5%;
    padding: 1% 1.5% 1%;
    border-width: 0 0 2px 0;
    font-size: 90%;
}

input[type=text]:focus {
    background-color: lightblue;
}

input[type=submit]{
    font-weight: bold;
    color: black;
    background-color: #ffe100;
    margin: 1% 5% 1%;
    width: 85%;
    left: 5%;
    right: 5%;
    padding: 1% 1.5% 1%;
    border-width: 2px 2px 2px 2px;
    font-size: 90%;
}

input[type=submit]:hover {
    background-color: #ad9900;
    border-width: 2.5px 2.5px 2.5px 2.5px;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    background: #ffe100;
    border: 0;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
}


/* auth styles */

.auth {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #fafafa;
    display: none;
    z-index: 1;
}

.auth.open {
    display: block;
}

.auth a {
    text-decoration: underline;
    cursor: pointer;
}

.auth .modal {
    display: none;
}

.auth .modal.active {
    display: block;
}